* {
  margin: 0;
}
.hello_world {
  width: 100%;
  height: 100vw;
  background-color: yellow;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.hello_world h1 {
  animation: animatename 1s linear infinite;
  /* animation shorthand */
  animation: animation-name animation-duration animation-direction
    animation-iteration-count;
  animation-duration: 10s;
}

@keyframes example {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}
@keyframes animatename {
  0% {
    transform: translateY(100vw);
  }
  100% {
    transform: translateY(0vw);
  }
}

/* The element to apply the animation to */
